# ==================================================
# PROJECT SETTINGS
# ==================================================
# Prefix for Docker containers, networks, and volumes names
COMPOSE_PROJECT_NAME=genealogy_app
# Options: development, production
APP_ENV=development

# ==================================================
# DATABASE CONFIGURATION (PostgreSQL)
# ==================================================
# Root/Superuser Credentials (Used to initialize the database for the first time)
POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=genealogy_application_administrator_password
# Database Metadata
DB_HOST=genealogy_db
DB_PORT=5432
# Database name, application username, and password
DB_NAME=genealogy_tree
DB_USER=genealogy_app_user
DB_PASSWORD=genealogy_app_pass

# ==================================================
# S3 / SEAWEEDFS CONFIGURATION
# ==================================================
# Storage driver: 's3' or 'local'
STORAGE_TYPE=s3
# S3 region (use 'ap-southeast-1' for Singapore)
S3_REGION=ap-southeast-1
# Internal Docker endpoint for SeaweedFS Filer
S3_ENDPOINT=http://sw_filer:8333
# Required 'true' for SeaweedFS/MinIO
S3_FORCE_PATH_STYLE=true
# Credentials (can be 'any' for local SeaweedFS)
S3_ACCESS_KEY=admin_key
S3_SECRET_KEY=admin_secret_pass
# Bucket name for media assets
S3_BUCKET=genealogy-media

# ==================================================
# BACKEND CONFIGURATION (Golang Gin)
# ==================================================
# Port exposed by the backend container
BACKEND_PORT=8080
# System timezone for logs and time processing
APP_TIMEZONE=Asia/Ho_Chi_Minh
# Options: debug, release, test
GIN_MODE=debug

# The private key is used to sign and authenticate the token
JWT_SECRET_KEY=your_super_secret_key_here_change_it_in_production

# ==================================================
# FRONTEND CONFIGURATION (React - Next.js)
# ==================================================
# Port used for development server
FRONTEND_PORT=5173
# Backend API URL (Use localhost for browser access to Docker-exposed ports)
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1/

# ==================================================
# TOOLS CONFIGURATION
# ==================================================
# Database management tool (Adminer) accessible port
ADMINER_PORT=8888